<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Register">Register</a></li>
                <li><a href="/Login">Login</a></li>
                <li><a href="/Profile">Profile</a></li>
                <li?><a href="/Logout">Logout</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>